:root {
    --primary-color: hsl(357, 91%, 58%);
    --black-color: hsl(0, 5%, 15%);

    --burger-height: 4px;
  }

html {
    font-size: 100%;
    overflow-x: hidden;
  }
  
.pancake {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.wrapper {
    width: 90%;
    margin-inline: auto;
}

.flex {
    display: flex;
}
.flex-center {
    justify-content: center;
    align-items: center;
}
.flex-jc-c {
    justify-content: center;
}
.flex-jc-sb {
    justify-content: space-between;
}
.flex-jc-fe {
    justify-content: flex-end;
}
.flex-ai-c {
    align-items: center;
}
.flex-ai-fe {
    align-items: flex-end;
}
.flexc {
    display: flex;
    flex-direction: column;
}
.flexbox {
    display: flex;
    flex: 1;
}
.flex-mobile {
    display: flex;
    flex-direction: column;
}

.gap-50 {
    gap: 0.5rem;
}

.gap-100 {
    gap: 1rem;
}

.gap-150 {
    gap: 1.5rem;
}

.gap-200 {
    gap: 2rem;
}

.burger {
    all: unset;
    position: absolute;
    width: 36px;
    aspect-ratio: 1/1;
    padding-inline: 0.3em;
    top: 45%;
    right: 5%;
    transform: translateY(-50%);
    z-index: 99;
}

.inner-burger,
.inner-burger::before,
.inner-burger::after {
    display: block;
    width: 36px;
    height: var(--burger-height);
    background-color: var(--black-color);
    transition: transform 100ms ease-in-out;
}

.inner-burger {
    position: relative;
}

.inner-burger::before,
.inner-burger::after {
    position: absolute;
    content: "";
}

.inner-burger::before {
    top: calc(-4px - 7px);
}

.inner-burger::after {
    top: calc(var(--burger-height) + 7px);
}

.burger[aria-expanded=true] .inner-burger {
    transform: rotateZ(45deg);
}

.burger[aria-expanded=true] .inner-burger::before {
    transform: translateY(calc(var(--burger-height) + 7px)) rotateZ(-90deg);
}

.burger[aria-expanded=true] .inner-burger::after {
    display: none;
}

header {
    min-height: 150px;
    background-color: var(--primary-color);
    position: relative;
}

header .logo {
    width: 200px;
}

main section{
    height: 100vh;
    background-color: hsl(0, 5%, 25%);
    margin-bottom: 2rem;
}
.test{
    width: 300px;
    height: 200px;
    background-color: hsl(37, 91%, 58%);
    transform: translateX(50vw);
    opacity: 0;
    transition: 500ms ease-in-out 100ms;
}
.show{
    transform: translateX(0);
    opacity: 1;
}
  
footer {
    min-height: 100px;
    background-color: var(--black-color);
    padding-block-end: 2rem;
    color: var(--primary-color);
}

@media only screen and (min-width: 28em) {
    .wrapper {
      width: 80%;
    }

    .flex-mobile {
        flex-direction: row;
    }

    .burger {
        display: none;
    }
}

@media only screen and (min-width: 65em) {
    .wrapper {
        width: 70%;
    }
}