@use "../util" as u;

html{
    font-size: 100%;
    overflow-x: hidden;
}
.pancake{
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.wrapper{
    width: 90%;
    margin-inline: auto;

    @include u.mq(small){
        width: 80%;
    }

    @include u.mq(large){
        width: 70%;
    }
}